button.menu-btn menu
.menu-test
    button.popup1 popup 1
    button.popup2 popup 2
.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      .bonus__firstWin-info
        .bonus__firstWin-title #[span Вітаємо] #[br] Ти виграв фріспіни
        img(src='img/candy.png' alt='candy').bonus__firstWin-decor
        .bonus__firstWin-win #[span +] 600 FS
        .bonus__firstWin-text У тебе #[span 1] спроба
        .bonus__firstWin-btn Крути ще

    .bonus__secondWin.hide
      .bonus__secondWin-info
        .bonus__secondWin-title #[span Вітаємо] #[br] Ти виграв бонус
        img(src='img/candy.png' alt='candy').bonus__firstWin-decor
        .bonus__secondWin-win
            .bonus__secondWin-win-top #[span.to до 215 000 ₴]
            .bonus__secondWin-win-bottom #[span.plus +] 600 FS
        a(href='https://allwinua.com/short-register/?from=login-page').bonus__secondWin-btn Забрати бонус
  .bonus__main
    .bonus__main-buttons
      a(href='https://allwinua.com/short-register/?from=login-page' target='_blank').bonus__main-buttons-right Реєстрація
    .bonus__main-left
        .bonus__main-logo
        .bonus__main-center
            .bonus__main-txt
              .bonus__main-txt-top Крути та забирай своє
              .bonus__main-txt-center У тебе #[span 2] спроби
            .bonus__main-bonanza
        .bonus__footer
            a(href='https://allwinua.com/short-register/?from=login-page' target='_blank').bonus__footer-btn Реєстрація
            .bonus__footer-row
                .bonus__footer-info
                    .bonus__footer-info-licensed
                        img(src='img/visa.svg' alt='visa').bonus__footer-info-licensed-img
                        img(src='img/mastercard.svg' alt='mastercard').bonus__footer-info-licensed-img
                        img(src='img/googlePay.svg' alt='googlePay').bonus__footer-info-licensed-img
                        img(src='img/applePay.svg' alt='applePay').bonus__footer-info-licensed-img
                        img(src='img/coinsPaid.svg' alt='coinsPaid').bonus__footer-info-licensed-img
    .bonus__main-wrapper
      .bonus__main-wheel
        .bonus__main-wheel-wrap
            .bonus__main-wheel-btn.position.pulse-btn
            .bonus__main-wheel-frame
            .bonus__main-wheel-reel.position

.bonus__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ
.bonus__legal-desc
  .bonus__legal-desc-wrap




